html_template/
.idea
.DS_Store
node_modules
npm-debug.log
proto
.DS_Store
facebook-login/facebook_info.php
php/mysql_connect.php
server/config/fb_keys.js
server/config/mysqlCredentials.js
server/node_modules