/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*/
/*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*/
/*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*//*GLOBAL*/
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*html,
body {
  width: 100%;
  height: 100%; 
}*/

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; 
  background-color:red;  
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(left top,#ff0000, #fff544); /* For Safari 5.1 to 6.0 */;
  background: url("../img/bg-pattern.png"), -o-linear-gradient(bottom right,#ff0000, #fff544); /* For Opera 11.1 to 12.0 */;
  background: url("../img/bg-pattern.png"), -moz-linear-gradient(bottom right,#ff0000, #fff544); /* For Firefox 3.6 to 15 */;
  background: url("../img/bg-pattern.png"), linear-gradient(to bottom right,#ff0000, #fff544); /* Standard syntax */;  
  background-repeat: repeat;
}

a {
  color: #fdcc52;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }
a:hover, a:focus {
  color: #fcbd20; 
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; 
}
hr { 
  border: 0; 
  height: 1px; 
  background: white;
}

.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539); 
}

.text-primary {
  color: #fdcc52; 
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; 
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white; 
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #262626;
  background-color: #262626;
  transition: 0.4s ease-in;
}

.btn {
  border-radius: 0;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; 
}

.btn-xl {
  font-size: 11px;
  padding: 15px 50px;
  margin: 10px;
}
/* .joinbtn{
  display: block;
} */
.viewbtn, .joinbtn{
  margin: 0;
  padding: 15px 20%;
  border-color: #262626;
  background-color: #262626;
}
div .btn-success:hover{
  box-shadow: 0px 0px 15px 0px gray;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; 
  letter-spacing: 1px;
  font-size: 10px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  font-size: 10px; 
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  font-size: 10px; 
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; 
  letter-spacing: 1px;
  font-size: 10px;
}
input[type=date], input[type=time]{
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; 
  letter-spacing: 1px;
  font-size: 10px;  
} 
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/
/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/
/*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*//*NAVBAR*/
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

.side-menu-conatianer {
  position: absolute;
  z-index: 5;
}

.navbar .container {
    height: 10vh;
}
.nav-link-box{
    display: inline-block;
    float: right;
    padding-top: 10px;
}

.navbar{
  padding: 2vh 0;
}

.navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
    /*width: 367px;*/
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}

.fixed-top {
    position: absolute;
}

#mainNav {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 5px;
    max-height: 10vh;
    min-height: 5vh;
    height: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    z-index: 1
}

#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px; 
  color: fade(white, 70%);
}
#mainNav .navbar-nav > li > a{
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; 
  color: rgba(255, 255, 255, 0.7); 
}

a.mx-3 {
    font-size: 11px;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
    color: yellow; 
  }


/*
@media (max-width: 992px) {
  #mainNav {
     background-color: red;
  }
} */  

@media (max-width: 767px) {
  .navbar-nav {
    display: none;
  }
}

@media (max-width: 992px){
  .navbar-expand-lg .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
  }

}

@media (max-width: 767px) {
  .navbar > div > div{
    margin: 0 auto;
    float: none;
  }
  .navbar > div > a > img{
    display: block;
    margin: 0 auto;
  }
}

/*@media (max-width: 614px) {
  .navbar .container {
    width: 397px;
  }
}*/

/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/



/*@media (max-width: 614px) {
.navbar .container {
  width: 397px;
}
}*/

/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/




/*BACKGROUND*//*BACKGROUND*//*BACKGROUND*//*BACKGROUND*//*BACKGROUND*/
/*BACKGROUND*//*BACKGROUND*//*BACKGROUND*//*BACKGROUND*//*BACKGROUND*/
/*BACKGROUND*//*BACKGROUND*//*BACKGROUND*//*BACKGROUND*//*BACKGROUND*/
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
}
header.masthead {
  padding-top: 0;
  padding-bottom: 0; 
}

/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*HOMEPAGE CONTENT *//*HOMEPAGE CONTENT *//*HOMEPAGE CONTENT *//*HOMEPAGE CONTENT */
/*HOMEPAGE CONTENT *//*HOMEPAGE CONTENT *//*HOMEPAGE CONTENT *//*HOMEPAGE CONTENT */
/*HOMEPAGE CONTENT *//*HOMEPAGE CONTENT *//*HOMEPAGE CONTENT *//*HOMEPAGE CONTENT */
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center; 
}
header.masthead .header-content h1 {
  font-size: 30px; 
}

header.masthead.home {
  height: 100vh;
}

/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*GAME FINDER PAGE CONTENT*//*GAME FINDER PAGE CONTENT*//*GAME FINDER PAGE CONTENT*/
/*GAME FINDER PAGE CONTENT*//*GAME FINDER PAGE CONTENT*//*GAME FINDER PAGE CONTENT*/
/*GAME FINDER PAGE CONTENT*//*GAME FINDER PAGE CONTENT*//*GAME FINDER PAGE CONTENT*/
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

.game-map{
  width: 100%;
  margin-top: 10.5vh;
  height: 50vh;

}


@media only screen and (max-width: 768px) {
  .game-map{
    margin-top: 100px;
  }
}

@media only screen and (max-width: 614px) {
  .game-map{
    margin-top: 100px !important;
  }
}
@media only screen and (max-width: 440px) {
  .game-map {
    margin-top: 108px !important;

  }

  .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar > .container {
    padding-right: 0;
    padding-bottom: 0.5rem;
    padding-left: 0;
  }
}

.game-list-header{
  background-color: #222222;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase; 
  color: rgba(255, 255, 255, 0.7);
}
.game-list-header > .row{
  padding: 11px 20px 15px 0px; 
}

.game-list-container{
  overflow: scroll;
  height: 31.5vh;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 13px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
}

.single-game:nth-child(odd) {
  background: #ecf0f1;
}
.single-game{
  padding: 10px 0;
  margin: 0;

}

.gameinfobox{
  padding: 20px ;
  background: rgba(0, 0, 0, 0.4);
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 1px;
  color: white;
  height: 100%;
  max-height: 38.5vh;
  overflow: scroll;
}

.textpad{
  padding-top: 10px;
}

/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*POST GAME PAGE*//*POST GAME PAGE*//*POST GAME PAGE*//*POST GAME PAGE*//*POST GAME PAGE*/
/*POST GAME PAGE*//*POST GAME PAGE*//*POST GAME PAGE*//*POST GAME PAGE*//*POST GAME PAGE*/
/*POST GAME PAGE*//*POST GAME PAGE*//*POST GAME PAGE*//*POST GAME PAGE*//*POST GAME PAGE*/
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/
input{
  height: 35px;

}
input,textarea{
  width: 100%;
  border: none;
  padding: 10px;
}
textarea{
  height: 109px;
}

.postgame.row {
    min-height: 39vh;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 0;
    padding-top: 10px;
}
.postsubmit{
  margin:20px 0;
  -webkit-appearance: none;
}
.post-map{
  height: 56vh !important;
}
form#create-game-form {
    padding: 0;
}
.date.row > .col-sm-6{
  padding: 0;
  padding-right: 10px
}
h5{
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; 
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px; 
}


/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/
/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/
/*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*//*FOOTER*/
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/
/*
footer {
  padding: 15px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
  height: 7vh; 
}
footer p {
  font-size: 12px;
  margin: 0; 
}
footer ul {
  margin-bottom: 0; 
}
footer ul li a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.3); 
}
footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none; 
}*/

/*BOOTSTRAP OVERRIDE*//*BOOTSTRAP OVERRIDE*//*BOOTSTRAP OVERRIDE*/
/*BOOTSTRAP OVERRIDE*//*BOOTSTRAP OVERRIDE*//*BOOTSTRAP OVERRIDE*/


/*.col-2{
  display: inline-block;
}*/
.row{
  max-width: 100%;
  margin: 0;
}
.wide{
  padding: 0;
}
.date col-12{
  padding: 0;
}
.col-md-4,.col-lg-4, .col-lg-8, .col-md-8{
    padding: 0;
    padding-top: 10px;
}
.masthead .col-lg-8.col-12, .masthead .col-lg-4.col-12 {
    padding-top: 0;
}

.col-md-4, .col-lg-4, .col-md-8, .col-lg-8{
  /*background-color: black;*/
  /* margin-top: -7px; */
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin:.5rem 0;
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; 
}

select {
  width: 100%;
  border-radius: 0;
  height: 35px;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif'; 
  letter-spacing: 1px;
  font-size: 10px;
}

/* .zip-div {
  margin-bottom: 7px;
} */

.zip-div input, textarea {
  padding: 0;
}


/*
.col-sm-6{
  padding: 0 5%;
}*/
/*.col-12{
  padding: 0;
}*/


/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*/
/*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*/
/*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*//*MODAL*/
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

.modal-contain {
  position: absolute;
  z-index: 5;
}

#backdrop   {
  position: fixed;
  top: 0; 
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.4);
  z-index: 5;
  }
  
  #dataOutput {
  background-color: red;
  }
  
  .hide {
      display: none;
  }
  
  #modal  {
      position: fixed;
      top: -116%;
      left: 15%;
      color: white;
      background-color: rgba(0,0,0,0.8);
      height: 83%;
      width: 70%;
      -webkit-transition-duration: 2000ms;
      transition-duration: 2000ms;
      z-index: 7;
  }

  #modal-success {
    position: fixed;
    top: -47%;
    left: 27%;
    color: white;
    background-color: rgba(0,0,0,0.8);
    height: 48%;
    width: 46%;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    z-index: 7;
  }
  
  .modal-trans {
      transform: translateY(150%)
  }
  
  .modal-trans-out {
      transform: translateY(-150%)
  }
  
  .stop-scroll {
      overflow: hidden
  }
  
  .testing {
      transform:translateY(200px)
  }
  
  
  .close-icon:hover {
      cursor: pointer; 
      cursor: hand;
  }

  .close-icon {
    float: right;
    height: 30px;
    z-index: 12;
  }

  .close-icon svg {
    z-index: -4;
  }
  
  
  #modal ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .extended-address {
    font-size: 32px;
  }

  .street-address {
    font-size: 24px;
  }

  .extended-address, .street-address {
    display: block;
  }

  .locality, .region, .postal-code, .country-name {
    display: inline
  }

  #modal iframe {
    margin-top: 3%;
    margin-left: 9%;
    width: 83%;
    height: 43%;
  }

  #modal .game_info, #modal .game_address {
    overflow: scroll;
    max-height: 20vh;
    
  }

  #modal .game_info p {
    display: inline
  }

  .modal-btn {
    min-width: 49%;
    margin: 0;
    padding: 9px 9%;
    margin: .5% 1% 0 0;
    border-color: #262626;
    background-color: #262626;
  }

  #modal-header {
    z-index: -1;
  }

  @media (max-width: 768px)  {
    .mobile-modal-text p, .mobile-modal-text h4, .mobile-modal-text h5, .mobile-modal-text h3
    {
      font-size: 23%;
    }

    .modal-btn {
      min-width: 100%;
    }
  }
  
  @media (max-width: 768px)  {
    #modal iframe {
      height: 40%;
  }
  }
  
  @media (max-width: 480px) {
    
  }

  #modal-success button {
    min-width: 100%
  }

  #modal-success #modal-header {
    margin-top: 14vh;
  }

  #modal-success button {
    margin-top: 20px;
}


/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*/
/*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*/
/*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*//*SIDENAV*/
/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/


#side-backdrop   {
position: fixed;
top: 0; 
left: 0;
height: 100vh;
width: 100vw;
background-color: rgba(0,0,0,.5);
z-index: 5;
}


.side-hide {
    display: none;
}

#side-nav  {
    position: fixed;
    height: 100vh;
    width: 25vw;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    z-index: 7;
}

.side-trans {
    transform: translateX(0vw)
}

.side-trans-out {
    transform: translateX(-25vw)
}

.close-icon:hover {
    cursor: pointer; 
    cursor: hand;
}

/* #side-nav {
  background: rgba(0, 0, 0, 0.9);
  padding-top: 2vh;
  padding-bottom: 2vh;
  z-index: 5
} */

/* #mainNav .navbar-brand {
color: #fdcc52;
font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
font-weight: 200;
letter-spacing: 1px; 
color: fade(white, 70%);
} */

#side-menu > li > a{
font-size: 11px;
font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
letter-spacing: 2px;
/* margin: 10px 0px; */
text-transform: uppercase; 
color: rgba(255, 255, 255, 0.7); 
}

#side-menu > li {
  margin-top: 7%;
}

#side-nav > span {
  float: right;
  padding: 2px 10px;
}

#side-menu {
  list-style: none;
}

a.mx-3 {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

#side-nav > li > a:hover,
#side-nav li > a:focus:hover {
  color: yellow; 
}

.ham-icon svg {
  font-size: 35px;
  color: white;
  float: left;
  margin-left: 1vh;
  margin-top: 1vh;
}

@media (min-width: 768px)  {
  .side-menu-conatianer {
    display: none;
  }
  #side-menu {
    margin-top: 7vh
  }
}

@media (max-width: 768px)  {
  #side-menu {
    margin-top: 7vh;
    padding-left: 3vh;
  }
}

@media (max-width: 480px) {
  #side-menu > li > a{
    font-size: 6px;
  }
}

/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

/*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*/
/*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*/
/*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*//*POSTGAMEFORM*/

/*|_______________________________________________________________________________________________|*/
/*|_______________________________________________________________________________________________|*/

.map-searchbar {
  height: 90px;
}

.form-error {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: 30px;
}

@keyframes flashing {
  from {background: rgba(0,0,0,0.7) };
  to {background: white}
  from {color: white}
  to {color: black}
}

.flashing-error {
  animation-name: flashing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}